In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [28]:
df = pd.read_csv(r"C:\Users\Administrator\Documents\Excel & CSV Files\Credit Risk Dataset.csv")
df

,client_ID,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,...,city_latitude,city_longitude,employment_type,loan_term_months,loan_to_income_ratio,other_debt,debt_to_income_ratio,open_accounts,credit_utilization_ratio,past_delinquencies
0,CUST_00001,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,...,43.6532,-79.3832,Self-employed,36,0.593220,8402.453850,0.735635,14,0.495557,0
1,CUST_00002,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,...,43.6532,-79.3832,Full-time,36,0.104167,1607.802794,0.271646,10,0.585436,3
2,CUST_00003,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,...,51.6214,-3.9436,Full-time,36,0.572917,2760.505633,0.860469,14,0.750732,0
3,CUST_00004,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,...,49.2827,-123.1207,Part-time,12,0.534351,7155.286150,0.643592,15,0.379333,0
4,CUST_00005,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,...,42.8864,-78.8784,Part-time,36,0.643382,15626.153440,0.930628,4,0.228103,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,CUST_32577,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,...,49.2827,-123.1207,Part-time,36,0.109434,15721.464520,0.406065,11,0.892039,1
32577,CUST_32578,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,...,53.4808,-2.2426,Full-time,60,0.146875,29674.399350,0.394162,6,0.191486,0
32578,CUST_32579,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,...,53.4808,-2.2426,Unemployed,24,0.460526,21098.865050,0.738143,11,0.678980,3
32579,CUST_32580,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,...,37.7749,-122.4194,Self-employed,36,0.100000,26361.525750,0.275744,3,0.223460,1
32580,CUST_32581,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,...,46.8139,-71.2080,Full-time,60,0.154167,9397.997205,0.377929,4,0.429304,1

In [29]:
df.drop_duplicates()
df

,client_ID,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,...,city_latitude,city_longitude,employment_type,loan_term_months,loan_to_income_ratio,other_debt,debt_to_income_ratio,open_accounts,credit_utilization_ratio,past_delinquencies
0,CUST_00001,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,...,43.6532,-79.3832,Self-employed,36,0.593220,8402.453850,0.735635,14,0.495557,0
1,CUST_00002,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,...,43.6532,-79.3832,Full-time,36,0.104167,1607.802794,0.271646,10,0.585436,3
2,CUST_00003,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,...,51.6214,-3.9436,Full-time,36,0.572917,2760.505633,0.860469,14,0.750732,0
3,CUST_00004,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,...,49.2827,-123.1207,Part-time,12,0.534351,7155.286150,0.643592,15,0.379333,0
4,CUST_00005,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,...,42.8864,-78.8784,Part-time,36,0.643382,15626.153440,0.930628,4,0.228103,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,CUST_32577,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,...,49.2827,-123.1207,Part-time,36,0.109434,15721.464520,0.406065,11,0.892039,1
32577,CUST_32578,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,...,53.4808,-2.2426,Full-time,60,0.146875,29674.399350,0.394162,6,0.191486,0
32578,CUST_32579,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,...,53.4808,-2.2426,Unemployed,24,0.460526,21098.865050,0.738143,11,0.678980,3
32579,CUST_32580,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,...,37.7749,-122.4194,Self-employed,36,0.100000,26361.525750,0.275744,3,0.223460,1
32580,CUST_32581,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,...,46.8139,-71.2080,Full-time,60,0.154167,9397.997205,0.377929,4,0.429304,1

In [30]:
df.isnull().sum()

client_ID                        0
person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
gender                           0
marital_status                   0
education_level                  0
country                          0
state                            0
city                             0
city_latitude                    0
city_longitude                   0
employment_type                  0
loan_term_months                 0
loan_to_income_ratio             0
other_debt                       0
debt_to_income_ratio             0
open_accounts                    0
credit_utilization_ratio         0
past_delinquencies               0
dtype: int64

In [31]:
df.isnull().sum()/len(df)*100

client_ID                     0.000000
person_age                    0.000000
person_income                 0.000000
person_home_ownership         0.000000
person_emp_length             2.747000
loan_intent                   0.000000
loan_grade                    0.000000
loan_amnt                     0.000000
loan_int_rate                 9.563856
loan_status                   0.000000
loan_percent_income           0.000000
cb_person_default_on_file     0.000000
cb_person_cred_hist_length    0.000000
gender                        0.000000
marital_status                0.000000
education_level               0.000000
country                       0.000000
state                         0.000000
city                          0.000000
city_latitude                 0.000000
city_longitude                0.000000
employment_type               0.000000
loan_term_months              0.000000
loan_to_income_ratio          0.000000
other_debt                    0.000000
debt_to_income_ratio          0.000000
open_accounts                 0.000000
credit_utilization_ratio      0.000000
past_delinquencies            0.000000
dtype: float64

In [32]:
# Dealing with nulls in person emp length
before = df['person_emp_length'].isnull().sum()
df['person_emp_length'] = np.where(
    df['person_emp_length'].isnull(), df['person_age']- 16, df['person_emp_length']
)
after = df['person_emp_length'].isnull().sum()

print(f"Nulls filled:{before - after}")

Nulls filled:895

In [33]:
# Dealing with logical inconsistency where emp length exceeds age-16
# Assuming min age to bein working is 16
df['was_impossible'] = (df['person_emp_length'] > (df['person_age']- 16))

df['person_emp_length']= np.where(
    (df['person_emp_length'] > (df['person_age']- 16)), df['person_age']- 16,
    df['person_emp_length']
)

corrected_rows = df[df['was_impossible']]
print(f"Total Corrected: {len(corrected_rows)}")
print(corrected_rows[['person_age', 'person_emp_length', 'was_impossible']])

Total Corrected: 740
       person_age  person_emp_length  was_impossible
0              22                6.0            True
9              21                5.0            True
18             23                7.0            True
65             22                6.0            True
68             24                8.0            True
...           ...                ...             ...
31867          46               30.0            True
32206          40               24.0            True
32263          46               30.0            True
32286          36               20.0            True
32515          53               37.0            True

[740 rows x 3 columns]

In [34]:
# Dealing with nulls in Loan interest rate
# Filling the nulls with the median of the loan grade

before = df['loan_int_rate'].isnull().sum()
df['loan_int_rate']= df.groupby('loan_grade')['loan_int_rate']\
                        .transform(lambda x: x.fillna(x.median()))

after = df['loan_int_rate'].isnull().sum()
print(f"Nulls for int rate filled: {before - after}")

Nulls for int rate filled: 3116

In [35]:
df.isnull().sum()

client_ID                     0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
gender                        0
marital_status                0
education_level               0
country                       0
state                         0
city                          0
city_latitude                 0
city_longitude                0
employment_type               0
loan_term_months              0
loan_to_income_ratio          0
other_debt                    0
debt_to_income_ratio          0
open_accounts                 0
credit_utilization_ratio      0
past_delinquencies            0
was_impossible                0
dtype: int64

In [36]:
# Checking & Solving logical inconsistencies
# Age - Should not be anyone below 18 and capping it at 80
print(f"Age < 18: {(df['person_age'] < 18).sum()}")
print(f"Age > 80: {(df['person_age'] > 80).sum()}")

Age < 18: 0
Age > 80: 7

In [37]:
before = df.shape[0]

df = df[df['person_age'] < 80]

after = df.shape[0]

print(f"Rows removed: {before - after}")

Rows removed: 8

In [43]:
df.shape

(32573, 29)

In [42]:
df.columns

Index(['client_ID', 'person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_status', 'loan_percent_income',
       'cb_person_default_on_file', 'cb_person_cred_hist_length', 'gender',
       'marital_status', 'education_level', 'country', 'state', 'city',
       'city_latitude', 'city_longitude', 'employment_type',
       'loan_term_months', 'loan_to_income_ratio', 'other_debt',
       'debt_to_income_ratio', 'open_accounts', 'credit_utilization_ratio',
       'past_delinquencies'],
      dtype='object')

In [44]:
# Income validations
print(f"Negative income: {(df['person_income'] < 0).sum()}")
print(f"Income = 0: {(df['person_income'] == 0).sum()}")

Negative income: 0
Income = 0: 0

In [45]:
# Loan amount validations
print(f"Negative loan amount: {(df['loan_amnt'] < 0).sum()}")
print(f"Loan > Income: {(df['loan_amnt'] > df['person_income']).sum()}")

Negative loan amount: 0
Loan > Income: 0

In [46]:
# Interest rate validations
print(f"Interest rate < 0: {(df['loan_int_rate'] < 0).sum()}")
print(f"Interest rate > 50%: {(df['loan_int_rate'] > 50).sum()}")

Interest rate < 0: 0
Interest rate > 50%: 0

In [47]:
# Credit history length > age - 16
print(f"Credit history > possible: {(df['cb_person_cred_hist_length'] > (df['person_age'] - 16)).sum()}")

# Debt to income ratio validations
print(f"DTI > 100%: {(df['debt_to_income_ratio'] > 100).sum()}")

# Credit utilization > 100%
print(f"Credit util > 100%: {(df['credit_utilization_ratio'] > 100).sum()}")

Credit history > possible: 0
DTI > 100%: 0
Credit util > 100%: 0

In [48]:
# Check unique values in categorical columns
categorical_cols = ['person_home_ownership', 'loan_intent', 'loan_grade', 
                    'loan_status', 'cb_person_default_on_file', 'gender',
                    'marital_status', 'education_level', 'employment_type']

for col in categorical_cols:
    print(f"\n{col}:")
    print(df[col].value_counts())

person_home_ownership:
person_home_ownership
RENT        16441
MORTGAGE    13441
OWN          2584
OTHER         107
Name: count, dtype: int64

loan_intent:
loan_intent
EDUCATION            6451
MEDICAL              6069
VENTURE              5717
PERSONAL             5519
DEBTCONSOLIDATION    5212
HOMEIMPROVEMENT      3605
Name: count, dtype: int64

loan_grade:
loan_grade
A    10776
B    10447
C     6455
D     3626
E      964
F      241
G       64
Name: count, dtype: int64

loan_status:
loan_status
0    25465
1     7108
Name: count, dtype: int64

cb_person_default_on_file:
cb_person_default_on_file
N    26828
Y     5745
Name: count, dtype: int64

gender:
gender
Male      16367
Female    16206
Name: count, dtype: int64

marital_status:
marital_status
Single      16363
Married     11391
Divorced     3172
Widowed      1647
Name: count, dtype: int64

education_level:
education_level
High School    13180
Bachelor       11388
Master          6508
PhD             1497
Name: count, dtype: int64

employment_type:
employment_type
Full-time        19470
Part-time         6507
Self-employed     4924
Unemployed        1672
Name: count, dtype: int64

In [50]:
print("=== FINAL DATA QUALITY CHECK ===")
print(f"Total rows: {len(df)}")
print(f"Total columns: {len(df.columns)}")
print(f"\nNull values per column:")
print(df.isnull().sum())
print(f"\nDuplicate rows: {df.duplicated().sum()}")
print(f"\nData types:")
print(df.dtypes.value_counts())

=== FINAL DATA QUALITY CHECK ===
Total rows: 32573
Total columns: 29

Null values per column:
client_ID                     0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
gender                        0
marital_status                0
education_level               0
country                       0
state                         0
city                          0
city_latitude                 0
city_longitude                0
employment_type               0
loan_term_months              0
loan_to_income_ratio          0
other_debt                    0
debt_to_income_ratio          0
open_accounts                 0
credit_utilization_ratio      0
past_delinquencies            0
dtype: int64

Duplicate rows: 0

Data types:
object     12
float64     9
int64       8
Name: count, dtype: int64

In [51]:
# Save cleaned dataset
df.to_csv('credit_risk_cleaned1.csv', index=False)
print("Cleaned data saved!")

Cleaned data saved!

In [52]:
df.to_csv(r"C:\Users\Administrator\Documents\Excel & CSV Files\credit_risk_cleaned1.csv", index=False)